# Quiz 1

In [ ]:
import numpy as np
import pandas as pd
import edhec_risk_kit as edk

In [ ]:
data = pd.read_csv('Portfolios_Formed_on_ME_monthly_EW.csv',
                  index_col = 0,
                  parse_dates = True,
                  na_values = -99.99)

In [ ]:
data.index = pd.to_datetime(data.index, format = '%Y%m').to_period('M')

In [92]:
col = ['Lo 20', 'Hi 20']
rets = data[col]/100
rets.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

In [93]:
#Annualized Return over Period
(1 + rets).prod()**(12/rets.shape[0]) -1

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [94]:
#Annualized Volitility
rets.std() * np.sqrt(12)

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [95]:
#Annualized Return
(rets['1999':'2015'] + 1).prod() ** (12/rets['1999':'2015'].shape[0]) - 1

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [96]:
#Annualized Volitlity
rets['1999':'2015'].std() * np.sqrt(12)

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [97]:
def computeDrawdown(data : pd.Series ,column):
    wealthIndex = 1000 * (1 + data[column]).cumprod()
    peaks = wealthIndex.cummax()
    drawdown = (wealthIndex - peaks)/peaks
    
    return_df =  pd.DataFrame({
    'Wealth':wealthIndex,
    'Peaks': peaks,
    'drawdown':drawdown})
    
    return return_df

In [98]:
drawdown_lo = computeDrawdown(rets,'Lo 20')
drawdown_hi = computeDrawdown(rets,'Hi 20')

In [99]:
drawdown_lo['1999':'2015'][['drawdown']].min()

drawdown   -0.624809
dtype: float64

In [100]:
drawdown_lo['1999':'2015'][['drawdown']].idxmin()

drawdown    2009-02
dtype: period[M]

In [101]:
drawdown_hi['1999':'2015'][['drawdown']].min()

drawdown   -0.552735
dtype: float64

In [102]:
drawdown_hi['1999':'2015'][['drawdown']].idxmin()

drawdown    2009-02
dtype: period[M]

In [ ]:
hfi = pd.read_csv('edhec-hedgefundindices.csv',
                 index_col = 0,
                 na_values = -99.99,
                 parse_dates = True)

In [103]:
edk.semivariance(hfi['2009':]).idxmax()

'Short Selling'

In [104]:
edk.semivariance(hfi['2009':]).idxmin()

'Fixed Income Arbitrage'

In [105]:
edk.skewness(hfi['2009':]).idxmin()

'Equity Market Neutral'

In [106]:
edk.kurtosis(hfi['2009':'2018']).idxmax()

'Convertible Arbitrage'